<% provide(:title, "Baptism") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%= render 'shared/content_baptismpg' %>
  <%= render 'shared/footer' %>
</div>