<% provide(:title, "Bible Studies") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header_signedout' %></div>
  <%= render 'shared/content_bibleandyoupg' %>
  <%= render 'shared/footer' %>
</div>