<% provide(:title, "Children and Teenage Corner") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header_signedout' %></div>
  <%= render 'shared/content_childrenteenpg' %>
  <%= render 'shared/footer' %>
</div>
