<% provide(:title, "Homepage") %>
<div>
  <%= render 'shared/responsive_header' %>
  <%# render 'shared/header_signedout' %>
  <%= render 'shared/content_homepg_signedout' %>
  <%= render 'shared/footer' %>
</div>
