<% provide(:title, "Ministry Team Leader") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%# render 'shared/content_aboutuspg' %>
  <%= render 'shared/content_ministryteampg' %>
  <%= render 'shared/footer' %>
</div>
