<% provide(:title, "Uche Olayinka") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%= render 'shared/content_pastorsixpg' %>
  <%= render 'shared/footer' %>
</div>