<% provide(:title, "Statement of Faith") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%= render 'shared/content_statementfaithpg' %>
  <%= render 'shared/footer' %>
</div>