<% provide(:title, "Emmanuel Adjei-Ofosu | Open Heavens Church") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%= render 'shared/content_teamleadertwopg' %>
  <%= render 'shared/footer' %>
</div>