
<div class="">
  <h1>Editing Sitemanagment</h1>
  <%= render 'sitemanagments/form', sitemanagment: @sitemanagment %>
</div>



<div class="hide">
  <h1>Editing Sitemanagment</h1>
  <%= render 'form', sitemanagment: @sitemanagment %>
  <%= link_to 'Show', @sitemanagment %> |
  <%= link_to 'Back', sitemanagments_path %>
</div>
