<% provide(:title, "Update Forum/Discussion") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%= render 'form', discussion: @discussion %>
  <%= render 'shared/footer' %>
</div>
