<% provide(:title, "Admin Ministries") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header_admin' %></div>
  <%= render 'users/shared/admin_stats_ministries' %>
  <%= render 'shared/footer' %>
</div>