<div class="pages_boarder"></div>
<div class="medium-12 columns content_ourpeoplepg_section">
  <div class="content_ourpeoplepg_inner_section">
    <div class="medium-12 columns ourpeoplepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">Our People</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">our people</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">Open Heavens Christian centre is able to function largely due to the selfless commitment of over 300 people, who give their time to run the various parishes and ministries during the week and those that take place over each weekend. Popularly referred to as the church's 'workforce', the activities of these volunteers are coordinated by a leadership structure made up of pastors, deacons, ministers and elders, in addition to heads of various ministries.</div>

              <div class="paragraph_content">
                <div><b>Pastoral Council</b></div>
                Spiritual oversight and direction is provided by a core group of leaders - supported by the other leadership strands - who have submitted themselves in the service of the church, its congregation and its local community. These leaders have come from different walks of life - including medicine, law, IT and marketing - and have lent the wealth of their experience to the organisation's growth.
              </div>

              <div class="paragraph_content">
                <div><b>Board of Trustees</b></div>
                Open Heavens Christian Centre is governed by a Memorandum and Articles of Association and is controlled by a board of trustees whose members are directors for the purposes of company law and trustees for the purposes of charity law.
              </div>

              <div class="paragraph_content">
                <div><b>Church Office</b></div>
                The church office is the hub of operational and administrative activity at Open Heavens run by a core team of five staff supported by several volunteers serving in different capacities to achieve the short, medium and long-term objectives of the church.
              </div>

              <div class="paragraph_content">
                <div><b>Where our people come from</b></div>
                Open Heavens Christian centre reflects the diverse nature of its home city, London, with members of its congregation hailing from countries as diverse as London; Ghana, Zimbabwe. South Africa, Serra Leone, Jamaica; Nigeria, Uganda and Romania.
              </div>




              <div class="paragraph_content hide">Open Heavens Church is able to function largely due to the selfless commitment of over 500 people, who give their time to run various departments and ministries during the week and at the eight services that take place over each weekend. Popularly referred to as the church's 'workforce', the activities of these volunteers are coordinated by a leadership structure made up of pastors, deacons, ministers and elders, in addition to heads of various departments and ministries.</div>

              <div class="paragraph_content hide">
                <div><b>Pastoral Council</b></div>
                Spiritual oversight and direction is provided by a core group of leaders - supported by the other leadership strands - who have submitted themselves in the service of the church, its congregation and its local community. These leaders have come from different walks of life - including medicine, law, IT and marketing - and have lent the wealth of their experience to the organisation's growth.
              </div>

              <div class="paragraph_content hide">
                <div><b>Board of Trustees</b></div>
                The church office is the hub of operational and administrative activity at Open Heavens Church, with a staff numbering approximately forty [40] (including several voluntary contributors) serving in different capacities to achieve the short, medium and longterm objectives of the church.
              </div>

              <div class="paragraph_content hide">
                <div><b>Office Departments</b></div>
                Open Heavens Church is governed by a Memorandum and Articles of Association and is controlled by a board of trustees whose members are elected at the Annual General Meeting and are directors for the purposes of company law and trustees for the purposes of charity law.
              </div>

              <div class="paragraph_content hide">
                <div><b>Open Heavens Church Nationalities</b></div>
                Open Heavens Church mirrors the cosmopolitan nature of its home city, London, with members of its congregation hailing from countries as diverse as American Samoa and Romania. With a French church, a Portuguese fellowship and approximately forty [40] nations represented in its membership - and growing - Open Heavens Church can confidently refer to itself as a home 'for all nations'.
              </div>

            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>