<!-- info_right_content -->
<div class="medium-4 columns right_info_servicetimes_content">
  <div class="side_information">
    <div class="serv_title">service times & directions</div>
    <div class="serv_info">
      <div class="serv_day">sundays</div>
      <span><i class="fa fa-clock-o"></i></span>
      <span>10:00AM to 12:00PM</span>
    </div>
    <div class="serv_info">
      <div class="serv_day">wednesday</div>
      <span><i class="fa fa-clock-o"></i></span>
      <span>07:00PM to 08:30PM</span>
    </div>
    <div class="serv_info">
      <div>Open Heavens Christian Centre</div>
      <div>194 Broadfields Ave</div>
      <div>Edgware</div>
      <div>HA8 8TF</div>
    </div>
    <div class="serv_info">
      <div>T: +44 20 8958 4040</div>
      <div>M: +44 78 3234 0634</div>
      <div>E: <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span></div>
    </div>
    <div class="page_button"><%= link_to "get directions", "https://www.google.co.uk/maps/place/Open+Heavens+Christian+Centre/@51.6287526,-0.2744852,17z/data=!3m1!4b1!4m5!3m4!1s0x4876169a9a168589:0x154338d949634999!8m2!3d51.6287526!4d-0.2722965", target:"_blank" %></div>
  </div>
</div>
<!-- info_right_content -->