<div class="pages_boarder"></div>
<div class="medium-12 columns content_youthpg_section">
  <div class="content_youthpg_inner_section">
    <div class="medium-12 columns youthpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "connect", connect_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">youth</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">youth</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">Young people are our greatest resource for the future and our youth church is designed to serve them. We seek to effectively engage and grow the human resources that God has given to us by placing our focus on developing vibrant and matured ministry leaders among our young people. We also work on creating a more conducive environment for our emerging youth and young adult’s ministry by freeing out larger space to serves as a multiuse facility resourced with musical and multimedia equipment</div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>