<div class="pages_boarder"></div>
<div class="medium-12 columns content_statementfaithpg_section">
  <div class="content_statementfaithpg_inner_section">
    <div class="medium-12 columns statementfaithpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">statement of faith</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">statement of faith</div>
            <div class="page_img"><%= image_tag("img_bannerimg.jpg") %></div>
            <div>
              <div class="paragraph_content">
                <div><b>God the Father</b></div>
                Creator of Heaven and Earth, who made man in His own image and likeness.
              </div>

              <div class="paragraph_content">
                <div><b>The Holy Trinity</b></div>
                The three persons of the Godhead; God the Father, God the Son, and God the Holy Spirit Three in One.
              </div>

              <div class="paragraph_content">
                <div><b>The Virgin Birth</b></div>
                Jesus was conceived by the Holy Spirit and born of the Virgin Mary.
              </div>

              <div class="paragraph_content">
                <div><b>The death & resurrection of Jesus Christ</b></div>
                Jesus was crucified and died for the sins of mankind on the cross at Calvary, was buried and rose from the dead on the third day. He ascended into Heaven and is forever seated at the right hand of God the Father.
              </div>

              <div class="paragraph_content">
                <div><b>The Holy Spirit</b></div>
                The Comforter and Teacher of all things who dwell within us, uniting us to Jesus Christ.
              </div>

              <div class="paragraph_content">
                <div><b>The Baptism of the Holy Spirit</b></div>
                This is freely available to all who believe in Jesus Christ and the Holy Spirit and is manifested by the gift of speaking in unknown tongues.
              </div>

              <div class="paragraph_content">
                <div><b>Salvation</b></div>
                A gift from God through grace and faith in Jesus Christ; that all who believe in Him may be saved by turning from sin to repentance, trusting in His death and resurrection and are born again by the Holy Spirit.
              </div>

              <div class="paragraph_content">
                <div><b>The blood of Jesus Christ</b></div>
                It was shed for us on the cross at Calvary, cleanses us from all sin and grants us access into the presence of God.
              </div>

              <div class="paragraph_content">
                <div><b>The second coming of Jesus Christ</b></div>
                Jesus will come again to Earth in glory and the dead in Christ will rise and those who are alive in Christ will be translated into the presence of God for eternity.
              </div>

              <div class="paragraph_content">
                <div><b>The Holy Bible</b></div>
                The infallible and authoritative word of God given to direct all men and women to salvation.
              </div>

            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>