<div class="medium-12 columns content_homepg_signedout_section">
  <div class="content_homepg_signedout_inner_section">
    <h1>body content</h1>
    <h1>Open Heavens Homepage Contents</h1>
    <div>Find me in app/views/static_pages/homepg.html.erb</div>
  </div>
</div>

