<div class="pages_boarder"></div>
<div class="medium-12 columns content_thankyoupg_section">
  <div class="content_thankyoupg_inner_section">
    <div class="medium-12 columns thankyoupg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">thank you</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">Thank you for getting in touch with us</div>
            <div>

              <div class="paragraph_content">We have successfully received your message/request/feedback and will do our best to <br/> get back to you within 48 hours.</div>

              <div class="homepg_btn"><%= link_to "homepage", root_path %></div>
           
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>