<div class="comments_list_inner_section">
  <div class="user_comment">
    <ul>
    <% @comments.each do |comment| %>
      <li>
        <div class="medium-1 columns image_name_container">
          <div class="image_cover">
            <%# if comment.user.image.present? %>
              <div><%# link_to(cl_image_tag(comment.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(comment.user)) %></div>
            <%# else %>
              <div><%# link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(comment.user)) %></div>
            <%# end %>
          </div>
        </div>

        <div class="medium-11 columns comment_content_container">
          <div class="name_comment">
            <span class="name"><%= link_to comment.user.firstname, user_path(comment.user) %></span>
            <span class="comment"><%= comment.content %></span>
          </div>
          <div class="time">Posted: <%= time_ago_in_words(comment.created_at) %> ago</div>
        </div>
        <div class="clear"></div>
      </li><br/>
    <% end %>
    </ul>
  </div>
</div>