<div class="pages_boarder"></div>
<div class="medium-12 columns content_privacypg_section">
  <div class="content_privacypg_inner_section">
    <div class="medium-12 columns privacypg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">privacy policy</span>
      </div>
      
     <div>privacy content goes here</div>

    </div>
  </div>
</div>