<!-- CSS File: content_user_options.css.scss -->
<!-- info_right_content -->
<div class="medium-4 columns right_info_user_options">
  <div class="side_information">
    <div class="user_links">
      <div>
        <span class="weblink"><%= mail_to "#{@job.user.firstname}", 
                                          "apply for this job", 
                                          cc: "#{@user.firstname} #{@user.lastname}",
                                          subject: "#{@user.firstname} #{@user.lastname} | Job: #{@job.title}",
                                          body: "Hi #{@job.user.firstname}, my name is #{@user.firstname} #{@user.lastname} and I am currently applying for the job as a #{@job.title} [job link: #{request.original_url}] that was posted by you on the Openheavens Website. I look foward to hearing from you. Thank you , Kind regards #{@user.firstname}", class: "apply_btn" %>
        </span>
      </div>
      <% if @job.user == @user || @user.admin? %>
        <div><%= link_to "edit job", edit_user_job_path(@user) %></div>
        <div><%= link_to 'delete this job', job_path(@job, @job.user), method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <div><%= link_to "post a job", new_user_job_path(@user) %></div>
    </div>
  </div>
</div>
<!-- info_right_content -->