<div class="pages_boarder"></div>
<div class="medium-12 columns content_privacypg_section">
  <div class="content_privacypg_inner_section">
    <div class="medium-12 columns privacypg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">privacy policy</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">privacy policy</div>
            <div class="page_img"><%= image_tag("img_bannerimg.jpg") %></div>
            <div>
              <div class="paragraph_content">This privacy policy sets out how Jesus House uses and protects any information that you give when you use this website.</div>

              <div class="paragraph_content">Jesus House (“the Church”) is committed to ensuring that your privacy is protected and maintaining the security of any personal information received from you. Should we ask you to provide certain information by which you can be identified when using this website, you can be assured that it will only be used in accordance with this privacy statement. We strictly adhere to the requirements of the data protection legislation in the UK. You may also visit our site anonymously.</div>

              <div class="paragraph_content"><div class="sub_header">1. The information we collect</div>When you make any enquiry or register for services on our site, the Church will collect general information about you such as your name, contact details and email address. We may also other types of personal information during the course of dealing with you, for example, when you register for conferences or events, and when you participate in Church activities or complete other forms. We may also collect information about your usage of our website as well as information about you from e-mails or letters you send to us.</div>

              <div class="paragraph_content"><div class="sub_header">2. How we use your information</div>The Church will use the personal information we collect for the purpose disclosed at the time of collection, or otherwise as set out in this Privacy Policy. We require this information to understand your needs and provide you with a better service. We will not use your personal information for any other purpose without first seeking your consent, unless authorised or required by law. Any of the information we collect from you may be used in the following ways:</div>

              <div class="paragraph_content">
                <ul>
                  <li>To answer your inquiry by post, telephone, mobile phone, fax as well as email.</li>
                  <li>To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you).</li>
                  <li>To improve customer service (your information helps us to respond more effectively to your requests and support needs).</li>
                  <li>To establish and maintain your involvement with the Church, including providing you with regular correspondence.</li>
                  <li>To register you for events and conferences.</li>
                  <li>To send periodic promotional emails. The email address you provide may be used to send you information about new events, services or other information which we believe may be of interest to you.</li>
                </ul>
              </div>

              <div class="paragraph_content"><b>note:</b> If at any time you would like to unsubscribe from receiving future emails or if we have contacted you in this way without obtaining your prior consent, we will include detailed unsubscribe instructions at the bottom of each email.</div>

              <div class="paragraph_content">The information you provide to us will be held on computers in the UK and may be accessed by or given to our staff and associated corporations who act for us for the purposes set out in this policy or for other purposes approved by you. Those parties process information, fulfill and deliver orders, process credit and debit card payments and provide support services on our behalf.</div>

              <div class="paragraph_content">Your personal information will be kept strictly confidential. It is never sold, given away, or shared with anyone, unless we're required to by law.</div>

              <div class="paragraph_content"><div class="sub_header">3. Access to your information</div>You can request access to the personal information that the Church holds about you by contacting the Church’s Privacy Officer as set out below. We will provide you with access to your personal information unless we are legally authorised to refuse your request. We may charge a reasonable amount for providing access.</div>

              <div class="paragraph_content">If you wish to change personal information that is out of date or inaccurate at any time please contact us. After notice from you, we will take reasonable steps to correct any of your information which is inaccurate, incomplete or out of date. If you wish to have your personal information deleted please let us know and we will delete that information wherever practicable.</div>

              <div class="paragraph_content">We may refuse your request to access, amend or delete your personal information in certain circumstances. If we do refuse your request, we will provide you with a reason for our decision and, in the case of amendment, we will note with your personal information that you have disputed its accuracy.</div>

              <div class="paragraph_content"><div class="sub_header">4. How we protect your information</div>We are committed to ensuring that your information is secure. To prevent unauthorised access or disclosure, we have implemented suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</div>

              <div class="paragraph_content">The Internet is not a secure method of transmitting information. Accordingly, the Church cannot accept responsibility for the security of information you send to or receive from us over the Internet or for any unauthorised access or use of that information. We take security measures to protect your information from access by unauthorised persons and against unlawful processing, accidental loss, destruction and damage. Your information will be held for a reasonable period or as long as the law requires.</div>

              <div class="paragraph_content"><div class="sub_header">5. Cookies</div>Cookies are small amounts of information that we store on your computer. Unless you have indicated your objection when disclosing your details to us, our system will issue cookies to your computer when you log on to the site. Cookies make it easier for you to log on to the site during future visits. You should also be aware that general information can be automatically collected through the use of cookies. Such information will not identify you personally as it is statistical data about our visitors and their use of our site. This statistical data does not identify any personal details whatsoever.</div>

              <div class="paragraph_content">Overall, cookies help us provide you with a better website, by enabling us to monitor website traffic and to personalise the contents of the site for you. You may set up your computer to reject cookies although, in that case, you may not be able to use certain features on our site.</div>

              <div class="paragraph_content"><div class="sub_header">6. Links to other websites</div>You might find on our website, links to other websites of interest. You should exercise caution and look at the privacy statement applicable to the website in question. We do not accept any responsibility or liability for any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement.</div>

              <div class="paragraph_content"><div class="sub_header">7. Changes to this Privacy Policy</div>The Church may amend this Privacy Policy from time to time by having the amended version on our website at <%= link_to "www.openheavens.org.uk", root_path, class: "weblink", target:"_blank" %>. We recommend that you check our website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</div>

              <div class="paragraph_content"><div class="sub_header">8. Contacting us</div>If you have any questions, queries or problems relating to this privacy Policy or our information handling practices in general, please contact us by calling +44 (0) 20 8958 4040, emailing: <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span> or writing to Openheavens Church, 194 Broadfields Ave, Edgware HA8 8TF, London, HA8 8TF</div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <div class="medium-4 columns info_right_content">
          <div>info_right_content</div>
        </div>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>