<div class="medium-12 columns error_page_section">
  <div class="error_inner_container">
    <div class="error_content_section">
      <h2 class="header">Error</h2>
      <div class="subtitle">It appears there has been an internal error with the page you've requested</div>
      <div class="error_content_inner_section">
        <h1>Oops! </h1>
        <div><i class="fa fa-users"></i></div>
        <h2>Sorry something went wrong</h2>
        <div class="sub_content">we've recorded the faults and are working hard to fix it</div>
        <div class="error_btn">
          <div><%= link_to "Homepage", root_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>