<!-- CSS File: content_user_options.css.scss -->
<!-- info_right_content -->
<div class="medium-4 columns right_info_user_options">
  <div class="side_information">
    <div class="user_links">
      <div><%= link_to "edit job", edit_user_job_path(@user) %></div>
      <div><%= link_to "close this job", edit_user_job_path(@user) %></div>
      <div><%= link_to "post a job", new_user_job_path(@user) %></div>
    </div>
  </div>
</div>
<!-- info_right_content -->