<div class="pages_boarder"></div>
<div class="medium-12 columns content_servepg_section">
  <div class="content_servepg_inner_section">
    <div class="medium-12 columns servepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">serve</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">serve</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>

            <div class="paragraph_content">Open Heavens Christian Centre offers several unique opportunities for you to use your God-given gifts, passions and talents to help develop the local church and impact our community. You can invest your time and skills in our children and youth activities, help to welcome our guests and make them feel comfortable, help care for the worship spaces and facilities, make and serve coffee to guests and members to enhance fellowship at the foyer and much more. Whatever your passion, we have a place for you to explore and flourish at Open Heavens. <span class="weblink"><%= link_to "Click here to view more information regarding the church's services", our_church_path %></span></div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>