<div class="pages_boarder"></div>
<div class="medium-12 columns content_ourcommunitypg_section">
  <div class="content_ourcommunitypg_inner_section">
    <div class="medium-12 columns ourcommunitypg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "serve", serve_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">our community</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">our community</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">
                <b>Music on the Green</b>
                <div>This is an annual event in partnership with St Andrew’s church, aimed at bringing an atmosphere of relaxation, communal festival and celebrations through music and provision of amusement and fun facilities for children. It is usually a family fun time held in the summer. Members of the community are welcome to volunteer as they find convenient.</div>
              </div>

              <div class="paragraph_content">
                <b>spreading the christmas cheers</b>
                <div>This is an annual event where we partner with other churches in Edgware to share the love of Jesus Christ through giving out free hot drinks and snacks to commuters at the Edgware station from 7am – 10:30am during a cold week in December. It is usually held in middle of December.</div>
              </div>

              <div class="paragraph_content">
                <b>christmas lunch on Jesus</b>
                <div>Our unflinching resolve to serve humanity as taught by our Lord Jesus Christ resulted in partnering with other churches, charity or scheme geared towards alleviating hunger and helping those in need. Here we annually partner with Jesus House and various churches in London Borough of Barnet to provide Christmas Hampers for underprivileged in our community.</div>
              </div>

              <div class="paragraph_content">
                <b>food bank</b>
                <div>Provision for the less privilege in our community is a central part of the activities of the church. A thriving food bank is organised by the church where items are provided for those who are in need. This is done through the generosity of church members and donations from other churches and individuals. Regular donors include – ASDA, and Emmanuel Church Edgware . We are grateful to volunteers from the community who assist in the management of the project.</div>
              </div>

              <div class="paragraph_content">
                <b>homeless shelter</b>
                <div>OHCC shares the vision that everyone should have a home. Thus, outreach ministry team partners with other churches/charities in the London Borough of Barnet to provide temporary accommodation to homeless people during the winter months</div>
              </div>

              <div class="paragraph_content">
                <b>broadfields youth club</b>
                <div>We are currently working to re-open the Youth/Kids club to cater for cultural and social needs of the young people in Broadfields estate. We are hopeful that relevant authorities would join us in providing funding to facilitate and enable this needed provision in the estate.</div>
              </div>

              <div class="paragraph_content">
                <b>international cutural day</b>
                <div>This is an annual event to celebrate unity in diversity among different cultures represented in our church and the community. It focuses is on peace in diversity It is always a great occasion and the Mayor of Barnet and counsellors attend as Special guests.</div>
              </div>

              <div class="paragraph_content">
                <b>mission ministry</b>
                <div>We believe that offenders need help while in prison and out of prison. We visit prisons to assist in providing foundation for transformation and re-integration to the community through the love and care taught and offered by Jesus Christ. The team also visit and periodically delivers gift items to inmates at Immigration Detention Centres via the IRC authorities.</div>
              </div>

              <div class="paragraph_content">
                <b>evangelistic outreaches</b>
                <div>Periodic events are organised to bring the good news of hope and the love of God to all through witness and outdoor preaching of the message of salvation through the death and resurrection of Jesus Christ and the reconciliation of man to God through Jesus Christ.</div>
              </div>

            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>