<div class="medium-12 columns nav_section footer_section">
  <header class="medium-12 columns nav_inner_main_section footer_inner_main_section">
    <div class="footer_inner_section">

      <!-- footer_content -->
      <div class="medium-12 columns footer_content">
        <div class="footer_inner_content">
          <div>
            <div class="medium-8 columns left_content">left_content</div>
            <div class="medium-4 columns right_content">right_content</div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="clear"></div>











