<div class="reveal modal_ministry_application" id="modal_ministry_application" data-reveal>
  <div class="modal_header">ministry application proposal</div>
  <div class="modal_content">
    <div>You need to be a <%= link_to "registered", new_user_registration_path, class: "weblink" %> member of Open Heavens Church or <%= link_to "login", new_user_session_path, class: "weblink" %> into your account to be able to complete a Ministry Proposal Application form.</div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>