<div class="reveal modal_general_design_all" id="modal_user_postedcomments_disc" data-reveal>
  <div class="modal_header"><%= @user.firstname %> posted jobs [<%= @user.jobs.count %>]</div>
  <div class="modal_content">
    <div class="subcontent">Listed comments provided for discusions topics you</div>
    <div>
      <ul>
        <% @user_discussion_comments.each do |discussion| %>
          <li>
            <div>
              <span><%= link_to "#{discussion.title}", "#" %></span>
              <span>|</span>
              <span>posted:</span>
              <span><%= discussion.created_at.strftime("%b %d, %Y") %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>