<div class="medium-12 columns responsive_header_section hide">
  <div class="responsive_header_inner_section">
    <div class="rep_logo">
      <div class="rep_inner_logo">
        <%= link_to "" do %>
          <div><%= image_tag("img_logo02.png") %></div>
          <div class="rep_logo_title">open heavens christian church</div>
        <% end %>
      </div>
    </div>
    <div class="rep_button">
      <%= link_to '', '#', id: "", class: "fa fa-bars" %>
    </div>
    <div class="rep_content">rep_content</div>
  </div>
</div>