<p id="notice"><%= notice %></p>

<p>
  <strong>Fileattachment:</strong>
  <%= @recommendedreading.fileattachment %>
</p>

<%= link_to 'Edit', edit_recommendedreading_path(@recommendedreading) %> |
<%= link_to 'Back', recommendedreadings_path %>
