<% provide(:title, "Update Gallery") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%= link_to 'Show', @gallery %>
  <%= render 'shared/footer' %>
</div>