<% provide(:title, "Update Gallery") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header' %></div>
  <%= render 'form', gallery: @gallery %>
  <%= render 'shared/footer' %>
</div>
