<% provide(:title, "photos") %>
<div>
  <div class="header_responsive"><%= render 'shared/responsive_header' %></div>
  <div class="header_non_responsive"><%= render 'shared/header_admin' %></div>
  <%= render 'content_gallery_photos' %>
  <%= render 'shared/footer' %>
</div>