/*===================================================
    Page: admin panel/content management page
    File: views/users/shared/_admin_content_management.html.erb
    File: views/users/shared/_content_content_management.html.erb
  ===================================================*/

.admin_content_management .page_cover {
  background-color: rgba(42, 44, 73, 0.05);
}

.admin_content_management .page_content {
  background-color: #fff;
  border: 1px solid #D4D4D4;
  border-bottom: 2px solid #D4D4D4;
  padding: 15px;
}

.admin_content_management .page_title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: #2A2C49;
  margin-bottom: 2px;
}

.admin_content_management .page_subtitle {
  font-size: 12px;
  margin-bottom: 5px;
  color: #2A2C49;
  text-transform: capitalize;
}

.admin_content_management .page_listedlinks ul {
  color: #2A2C49;
  margin: 10px 0px 0px 20px;
}

.admin_content_management .page_listedlinks li {
  color: #2A2C49;
  margin-bottom: 5px;
}

.admin_content_management .link_title {
  text-transform: capitalize;
}

.admin_content_management .main_link a {
  color: #E1473E !important;
  text-transform: capitalize;
}

.admin_content_management .new_content {
  margin-top: 30px;
}

.admin_content_management .upper_section {
  margin-bottom: 35px;
}
@media only screen and (max-width: 1340px) {
  .admin_content_management .upper_section {
    display: none;
  }
}

.admin_content_management .header_section_cover {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 15px;
}

.admin_content_management .data_header {
  font-size: 22px;
  text-align: left;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  color: #2F3F5B;
}

.admin_content_management .header_subtitle {
  font-size: 10px;
  color: #2F3F5B;
  margin-bottom: 15px;
}

.admin_content_management .btn {
  font-size: 12px;
  background-color: transparent;
  padding: 4px 0px;
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
  width: 120px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 1100px) {
  .admin_content_management .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}

.admin_content_management .btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .btn_green {
  background-color: #8ABFA1 !important;
}

.admin_content_management .btn_blue {
  background-color: #2A2C49 !important;
}

.admin_content_management .data_main_cover {
  padding: 0px !important;
  margin-bottom: 15px;
}

.admin_content_management .data_stats {
  border: 1px solid #D4D4D4;
  background-color: #fff;
}

.admin_content_management .data_title {
  padding: 5px;
  background-color: #2A2C49 !important;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 12px;
}


.admin_content_management .divider {
  border-bottom: 1px solid #D4D4D4;
  margin: 15px 0px;
} 


.admin_content_management .listed_events ul {
  list-style-type: none;
  margin: 0px !important;
}

.admin_content_management .listed_events ul .main_conatiner {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}

.admin_content_management .main_conatiner {
  border: 1px solid #D4D4D4;
  border-radius: 2px;
}

.admin_content_management .main_image {
  padding: 0px !important;
}

.admin_content_management .main_img_inner_cover {
  background-color: red;
  height: 60px;
  overflow: hidden;
  margin-bottom: 5px;
}

.admin_content_management .main_info {
  padding: 0px 0px 0px 8px !important;
  font-size: 11px;
}

.admin_content_management .min_name a {
  color: #2A2C49 !important;
}

.admin_content_management .member_created {
  font-size: 10px;
}

.admin_content_management .no_info {
  color: #E1473E;
}

.admin_content_management .member {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 2px 5px;
  margin-bottom: 5px;
  color: #2A2C49;
}

.admin_content_management .member i {
  margin-right: 8px;
  color: #2A2C49;
}

.admin_content_management .moreinfo {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 2px 5px;
  color: #2A2C49;
}

.admin_content_management .moreinfo i {
  margin-right: 5px;
  color: #2A2C49;
}


.admin_content_management .data_list_title {
  background-color: rgba(42, 44, 73, 0.05);
  text-transform: capitalize;
  color: #2A2C49;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #D4D4D4;
}

.admin_content_management .data_stats_cover {
  color: #2A2C49 !important
}

@media only screen and (max-width: 1100px) {
  .admin_content_management .data_stats_cover {
    width: 100%;
    margin-bottom: 15px;
  }
}

.admin_content_management .stats_content {
  padding: 15px;
}

.admin_content_management .stats_content i {
  font-size: 25px;
}

.admin_content_management .icon_cover {
  background-color: transparent;
  width: 50px;
  display: inline-block;
}
@media only screen and (max-width: 1340px) {
  .admin_content_management .icon_cover{
    display: none;
  }
}

.admin_content_management .icon_inner_cover {
  margin: auto;
  display: inline-block;
  width: 15px;
  background-color: transparent;
  margin-left: 17px;
}

.admin_content_management .main_stats {
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  width: 73%;
  display: inline-block;
  border-left: 2px solid #D4D4D4;
}

@media only screen and (max-width: 1340px) {
  .admin_content_management .main_stats {
    border-left: 0px solid transparent;
    width: 100%;
    text-align: center;
  }
}

.admin_content_management .tree_tab_link a {
  background-color: #E1473E;
  color: #fff !important;
  text-transform: capitalize;
  padding: 2px 15px;
  margin-left: 5px;
  border-radius: 2px;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .tree_tab_link a:hover {
  opacity: 0.7;
  background-color: #E1473E;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .min_name a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
}

.admin_content_management .min_content {
  color: #2A2C49 !important;
}

.admin_content_management .min_content a {
  color: #E1473E !important;
  text-transform: lowercase !important;
}

.admin_content_management .weblink {
  color: #a1355b !important;
}


.admin_content_management .weblink a {
  color: #a1355b !important;
}

.admin_content_management .subheaders {
  font-weight: bold;
  text-transform: capitalize;
  color: #2A2C49 !important;
}

.admin_content_management .status_btn a {
  font-size: 10px;
  color: #fff !important;
  text-transform: uppercase;
  padding: 3px 15px;
  margin-left: 5px;
  border-radius: 2px;
  text-decoration: none !important;
  font-weight: 300;
}

.admin_content_management .approved a {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .approved a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .pending a {
  background-color: #E1473E !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .pending a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .delete_btn a {
  color: #2A2C49 !important;
  background-color: rgba(42, 44, 73, 0.2);
  font-size: 10px;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .delete_btn a:hover {
  background-color: #2A2C49 !important;
  color: #fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .edit_btn a {
  color: #2A2C49 !important;
  background-color: rgba(42, 44, 73, 0.2);
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .edit_btn a:hover {
  background-color: #2A2C49 !important;
  color: #fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .update_section {
  background-color: rgba(42, 44, 73, 0.05);
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 5px;
}

.admin_content_management .update_section [type='submit'] {
  background-color: #2A2C49 !important;
  font-size: 10px;
  margin-bottom: 5px;
  color: #fff !important;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .update_section [type='submit']:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .update_section #event_approve {
  margin-bottom: 0px !important;
}

.admin_content_management .event_approve label {
  font-size: 12px;
  color: #2A2C49 !important;
}

.admin_content_management .closed a {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


// -----------------------------
//   workings
// -----------------------------


.admin_content_management .img_form {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 25px 10px;
  margin-top: 18px;
}

.admin_content_management .input_content label {
  color: #a1355b;
  margin-bottom: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

.admin_content_management .label {
  color: #a1355b;
  margin-bottom: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

.admin_content_management .edit_btn a {
  color: #2A2C49 !important;
  background-color: rgba(42, 44, 73, 0.2);
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_content_management .upload_page_img {
  border: 1px solid #D4D4D4;
  padding: 5px;
  margin-bottom: 8px;
}

.admin_content_management .upload_page_img img {
  height: 116px;
}


.input_content .section_input {
  float: left;
  width: 308px;
  margin-right: 5px;
}














// -----------------------------
//   form
// -----------------------------

.section_form #sitemanagment_homepg_img01, #sitemanagment_homepg_img02, #sitemanagment_homepg_img03, #sitemanagment_eventlink_img01, #sitemanagment_eventlink_img02, #sitemanagment_eventlink_img03  {
  font-family: "Lato", sans-serif;
  box-shadow: none !important;
  height: 40px;
  color: #454d53;
  font-size: 15px;
  margin-bottom: 0px;
  border-radius: 2px;
}

.section_form input[type="submit"] {
  text-transform: uppercase;
  width: 100%;
  background-color: #a1355b !important;
  border-radius: 3px;
  height: 50px;
  margin: 12px 0px 0px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.section_form input[type="submit"]:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}











