/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require simple_calendar
 *= require foundation_and_overrides
 *= require foundation
 */

/*=========================================
    set colour
  =========================================*/
  /*-- blue_light:      #9DC6EB   rgb: 157 198 235 --*/
  /*-- blue_deep:       #57738E   rgb- 87 115 142 --*/
  /*-- blue_dark_deep:  #2A2C49   rgb: 42 44 73 --*/ 
  /*-- black:           #20232C   rgb: 32 35 44--*/ 
/*=========================================
    general css content
  =========================================*/

body {
  line-height: 1.5 !important;
  margin: 0px;
}

.clear { 
  clear: both; 
}

.hide { 
  display: none; 
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus
 {
    outline: none !important;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.active {
  background-color: rgba(157, 198, 235, 0.6) !important;
  border-bottom: solid 2px #57738E !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 1190px) {
  .header_non_responsive {
    display: none;
  }
}

@media only screen and (min-width: 1190px) {
  .header_responsive {
    display: none;
  }
}

@media only screen and (max-width: 1190px) {
  .left_admin_content {
    display: none;
  }
}

@media only screen and (max-width: 1190px) {
  .right_admin_content {
    width: 100%;
  }
}

.pages_boarder {
  border-bottom: 1px solid rgba(42, 44, 73, 0.03);
  margin-bottom: 30px;
}

.error {
  color: red !important;
  font-size: 10px !important;
}



/*=========================================
    admin panel
  =========================================*/
.users_admin_panel {
  padding: 0px !important;
  border-top: 1px solid #2A2C49;
}

.users_admin_panel .main_container {
  padding: 0px !important;
}

/*// ------------------------------
//   admin panel - left_section
// ------------------------------*/

.users_admin_panel .left_admin_content {
  background-color: #2A2C49;
  padding: 0px !important;
  height: 4000px;
}

.users_admin_panel .left_admin_content ul {
  margin: 0px !important;
  list-style-type: none;
}

.users_admin_panel .left_admin_content li {
  height: 50px;
  border-bottom: 1px solid #57738E;
}

.users_admin_panel .left_admin_content a {
  color: #fff !important;
  display: inherit;
  padding: 16px 28px;
  text-transform: capitalize;
  height: 50px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_admin_panel .left_admin_content a:hover {
  text-decoration: none;
  opacity: 0.4 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


/*// ------------------------------
//   admin panel - right_section
// ------------------------------*/

.users_admin_panel .right_admin_content {
  min-height: 500px;
  padding: 0px !important;
  height: 4000px;
  overflow-x: scroll;
}

.users_admin_panel .right_admin_content .tree_line {
  font-size: 11px !important;
  background-color: #fff;
  height: 50px;
  color: #2A2C49;
  padding: 17px 15px;
}

.users_admin_panel .right_admin_content .tree_line a {
  display: inline-block;
  font-size: 11px !important;
  color: #2A2C49 !important;
}

.users_admin_panel .right_admin_content .tree_line .current_page {
  color: #a07b35;
}

.users_admin_panel .right_admin_content .admin_tab_content {
  background-color: #fff !important;
}











