/*===================================================
    Page: serve page
    File: views/shared/_content_servepg.html.erb
  ===================================================*/

.content_servepg_section {
  padding: 0px !important;
}

.content_servepg_section .content_servepg_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}

.content_servepg_section .servepg_content {
  margin-bottom: 30px;
  padding: 0px !important;
  background-color: rgba(42, 44, 73, 0.1);
}
