/*===================================================
    Page: homepage signout
    File: views/shared/_content_homepg_signedout.html.erb
  ===================================================*/

.content_homepg_signedout_section {
  padding: 0px !important;
}

.content_homepg_signedout_section .content_homepg_signedout_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}