/*===================================================
    Page: comment form
    File: views/discussions/_show.html.erb
  ===================================================*/

textarea {
  height: 60px !important;
  margin-bottom: -3px !important;
}

input[type="submit"] {
  margin: 0px;
  font-size: 12px !important;
  text-transform: capitalize;
  line-height: 14px !important;
  display: inline-block;
  background: #fff;
  color: #fff !important;
  background-color: #2A2C49 !important;
  height: 27px;
  padding: 5px 15px !important;
  border: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

input[type="submit"]:hover {
  color: #2A2C49 !important;
  background-color: #E8E9EB !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s 
}