/*===================================================
    Page: privacy page
    File: views/shared/_content_privacypg.html.erb
  ===================================================*/

.content_privacypg_section {
  padding: 0px !important;
}

.content_privacypg_section .content_privacypg_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}

.content_privacypg_section .privacypg_content {
  margin-bottom: 30px;
  padding: 0px !important;
  // background-color: rgba(42, 44, 73, 0.1);
}


// ----------------------------
//   workings
// ----------------------------

.tree_line {
  font-size: 12px;
  font-size: 10px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.tree_line a {
  color: #2A2C49 !important;
}

.current_page {
  color: #a07b35;
}