/*===================================================
    Page: useful careers & volunteers page
    File: views/shared/_content_careersvolunteerspg.html.erb
    File: views/shared/_content_practicalneedspg.html.erb
  ===================================================*/

.content_careersvolunteerspg_section {
  padding: 0px !important;
}

.content_careersvolunteerspg_section .content_careersvolunteerspg_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}
@media only screen and (max-width: 1160px) {
  .content_careersvolunteerspg_section .content_careersvolunteerspg_inner_section {
    width: 100% !important;
  }
}

.content_careersvolunteerspg_section .careersvolunteerspg_content {
  margin-bottom: 30px;
  padding: 0px !important;
}

.content_careersvolunteerspg_section .tree_line {
  font-size: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1160px) {
  .content_careersvolunteerspg_section .tree_line {
    margin-top: 25px;
    padding: 0px 15px !important;
  }
}

.content_careersvolunteerspg_section .tree_line a {
  color: #2A2C49 !important;
}

.content_careersvolunteerspg_section .current_page {
  color: #a07b35;
}

.content_careersvolunteerspg_section .page_main_content {
  padding: 0px !important;
}

.content_careersvolunteerspg_section .info_left_content {
  padding: 0px !important;
}
@media only screen and (max-width: 1160px) {
  .content_careersvolunteerspg_section .info_left_content {
    width: 100% !important;
    padding: 0px 15px !important;
  }
}

.content_careersvolunteerspg_section .info_left_content .page_header {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #2A2C49;
}

.content_careersvolunteerspg_section .info_left_content .page_img {
  margin-bottom: 15px;
  opacity: 0.8;
  overflow: hidden;
}

.content_careersvolunteerspg_section .info_left_content .paragraph_content {
  margin-bottom: 15px;
  color: #2A2C49;
}

.content_careersvolunteerspg_section .info_left_content .paragraph_content .sub_header {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 3px;
}

.content_careersvolunteerspg_section .info_left_content .paragraph_content ul {
  margin: 0px;
}

.content_careersvolunteerspg_section .info_left_content .paragraph_content ul li {
  margin-bottom: 5px;
}

.content_careersvolunteerspg_section .info_left_content .paragraph_content .weblink {
  color: #a1355b !important;
}

.content_careersvolunteerspg_section .info_left_content .paragraph_content .weblink a {
  color: #a1355b !important;
}

.content_careersvolunteerspg_section .listed_readings_links ul li {
  margin: 0px !important;
  list-style-type: none;
}

.content_careersvolunteerspg_section .listed_readings_links ul li {
  margin-bottom: 15px !important;
}

.content_careersvolunteerspg_section .pymt_img {
  margin: 30px 0px 10px;
}

.content_careersvolunteerspg_section .pymt_img img {
  width: 200px;
}

.content_careersvolunteerspg_section .file {
  background-color: rgba(42, 44, 73, 0.05);
  position: relative;
  padding: 15px 18px;
  border: 1px solid #E8E9EB;
  border-radius: 5px;
}

.content_careersvolunteerspg_section .file i {
  font-size: 30px;
  position: absolute;
}

.content_careersvolunteerspg_section .file_text {
  margin-left: 35px;
  margin-top: 5px;
  display: inline-block;
}

.content_careersvolunteerspg_section .file a {
  color: #2A2C49 !important;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_careersvolunteerspg_section .file a:hover {
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_careersvolunteerspg_section .divider {
  border-bottom: 1px solid #2A2C49;
  margin: 30px 0px;
  opacity: 0.05;
}

.content_careersvolunteerspg_section .jobpost_content .header a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
}

.content_careersvolunteerspg_section .jobpost_content .view a {
  color: #a1355b !important;
  text-transform: lowercase;
  font-size: 11px;
}

.content_careersvolunteerspg_section .jobpost_content .content {
  margin-bottom: 7px;
}

.content_careersvolunteerspg_section .jobpost_content .category a {
  background-color: #2A2C49;
  color: #fff !important;
  display: inline-block;
  padding: 4px 12px;
  font-size: 11px;
}

.content_careersvolunteerspg_section .jobpost_content .joblevel a {
  background-color: #57738E;
}

.content_careersvolunteerspg_section .jobpost_content .apply_btn a {
  background-color: #a1355b;
  color: #fff !important;
  display: inline-block;
  padding: 4px 12px;
  font-size: 11px;
}

.content_careersvolunteerspg_section .jobpost_content .apply_notsiginedin_btn {
  background-color: #a1355b;
  color: #fff !important;
  display: inline-block;
  padding: 4px 12px;
  font-size: 11px;
  text-transform: capitalize;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_careersvolunteerspg_section .jobpost_content .apply_notsiginedin_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_careersvolunteerspg_section .jobpost_content .minor_info {
  margin: 3px 0px;
}

.content_careersvolunteerspg_section .jobpost_content .min_header {
  font-size: 9px;
  text-transform: capitalize;
  margin-right: 3px;
  color: #a1355b !important;
}

.content_careersvolunteerspg_section .jobpost_content .min_content {
  text-transform: capitalize;
  font-size: 11px;
  color: #a1355b !important;
}

.content_careersvolunteerspg_section .jobpost_content .min_divider {
  margin: 0px 3px;
}
























