/*===================================================
    Page: admin panel/stats gallery photos page
    File: views/galleries/_content_gallery_photos.html.erb
    File: views/galleries/_content_admin_gallery_photos.html.erb
  ===================================================*/

.admin_stats_galleries_photos .page_cover {
  background-color: rgba(42, 44, 73, 0.05);
}

.admin_stats_galleries_photos .page_content {
  background-color: #fff;
  border: 1px solid #D4D4D4;
  border-bottom: 2px solid #D4D4D4;
  padding: 15px;
}

.admin_stats_galleries_photos .page_title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: #2A2C49;
  margin-bottom: 2px;
}

.admin_stats_galleries_photos .page_subtitle {
  font-size: 12px;
  margin-bottom: 5px;
  color: #2A2C49;
  text-transform: capitalize;
}

.admin_stats_galleries_photos .page_listedlinks ul {
  color: #2A2C49;
  margin: 10px 0px 0px 20px;
}

.admin_stats_galleries_photos .page_listedlinks li {
  color: #2A2C49;
  margin-bottom: 5px;
}

.admin_stats_galleries_photos .link_title {
  text-transform: capitalize;
}

.admin_stats_galleries_photos .main_link a {
  color: #E1473E !important;
  text-transform: capitalize;
}

.admin_stats_galleries_photos .new_content {
  margin-top: 30px;
}

.admin_stats_galleries_photos .upper_section {
  margin-bottom: 35px;
}
@media only screen and (max-width: 1340px) {
  .admin_stats_galleries_photos .upper_section {
    display: none;
  }
}

.admin_stats_galleries_photos .header_section_cover {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 15px;
}

.admin_stats_galleries_photos .data_header {
  font-size: 22px;
  text-align: left;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  color: #2F3F5B;
}

.admin_stats_galleries_photos .header_subtitle {
  font-size: 10px;
  color: #2F3F5B;
  margin-bottom: 15px;
}

.admin_stats_galleries_photos .btn {
  font-size: 12px;
  background-color: transparent;
  padding: 4px 0px;
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
  width: 120px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 1100px) {
  .admin_stats_galleries_photos .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}

.admin_stats_galleries_photos .btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .btn_green {
  background-color: #8ABFA1 !important;
}

.admin_stats_galleries_photos .btn_blue {
  background-color: #2A2C49 !important;
}

.admin_stats_galleries_photos .data_main_cover {
  padding: 0px !important;
}

.admin_stats_galleries_photos .data_main_cover .info_content {
  margin-bottom: 20px;
}

.admin_stats_galleries_photos .data_main_cover .last_content {
  margin-bottom: 0px !important;
}

.admin_stats_galleries_photos .data_main_cover .title {
  font-weight: bold;
  text-transform: capitalize;
  color: #2A2C49 !important;
  margin-right: 5px;
}

.admin_stats_galleries_photos .data_main_cover .content {
  text-transform: capitalize;
  color: #2A2C49 !important;
}

.admin_stats_galleries_photos .data_stats {
  border: 1px solid #D4D4D4;
  background-color: #fff;
}

.admin_stats_galleries_photos .data_title {
  padding: 5px;
  background-color: #2A2C49 !important;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 12px;
}


.admin_stats_galleries_photos .divider {
  border-bottom: 1px solid #D4D4D4;
  margin: 15px 0px;
} 


.admin_stats_galleries_photos .listed_galleries ul {
  list-style-type: none;
  margin: 0px !important;
}

.admin_stats_galleries_photos .listed_galleries ul .main_conatiner {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}

.admin_stats_galleries_photos .main_conatiner {
  border: 1px solid #D4D4D4;
  border-radius: 2px;
}

.admin_stats_galleries_photos .main_image {
  padding: 0px !important;
}

.admin_stats_galleries_photos .main_img_inner_cover {
  background-color: transparent;
  height: 60px;
  overflow: hidden;
  margin-bottom: 5px;
}

.admin_stats_galleries_photos .main_info {
  padding: 0px 0px 0px 8px !important;
  font-size: 11px;
}

.admin_stats_galleries_photos .min_name a {
  color: #2A2C49 !important;
}

.admin_stats_galleries_photos .member_created {
  font-size: 10px;
}

.admin_stats_galleries_photos .no_info {
  color: #E1473E;
}

.admin_stats_galleries_photos .member {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 2px 5px;
  margin-bottom: 5px;
  color: #2A2C49;
}

.admin_stats_galleries_photos .member i {
  margin-right: 8px;
  color: #2A2C49;
}

.admin_stats_galleries_photos .moreinfo {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 2px 5px;
  color: #2A2C49;
}

.admin_stats_galleries_photos .moreinfo i {
  margin-right: 5px;
  color: #2A2C49;
}


.admin_stats_galleries_photos .data_list_title {
  background-color: rgba(42, 44, 73, 0.05);
  text-transform: capitalize;
  color: #2A2C49;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #D4D4D4;
}

.admin_stats_galleries_photos .data_stats_cover {
  color: #2A2C49 !important
}

@media only screen and (max-width: 1100px) {
  .admin_stats_galleries_photos .data_stats_cover {
    width: 100%;
    margin-bottom: 15px;
  }
}

.admin_stats_galleries_photos .stats_content {
  padding: 15px;
}

.admin_stats_galleries_photos .stats_content i {
  font-size: 25px;
}

.admin_stats_galleries_photos .icon_cover {
  background-color: transparent;
  width: 50px;
  display: inline-block;
}
@media only screen and (max-width: 1340px) {
  .admin_stats_galleries_photos .icon_cover{
    display: none;
  }
}

.admin_stats_galleries_photos .icon_inner_cover {
  margin: auto;
  display: inline-block;
  width: 15px;
  background-color: transparent;
  margin-left: 17px;
}

.admin_stats_galleries_photos .main_stats {
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  width: 90% !important;
  display: inline-block;
  border-left: 2px solid #D4D4D4;
}

@media only screen and (max-width: 1340px) {
  .admin_stats_galleries_photos .main_stats {
    border-left: 0px solid transparent;
    width: 100%;
    text-align: center;
  }
}

.admin_stats_galleries_photos .tree_tab_link a {
  background-color: #E1473E;
  color: #fff !important;
  text-transform: capitalize;
  padding: 2px 15px;
  margin-left: 5px;
  border-radius: 2px;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .tree_tab_link a:hover {
  opacity: 0.7;
  background-color: #E1473E;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .min_name a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
}

.admin_stats_galleries_photos .min_content {
  color: #2A2C49 !important;
}

.admin_stats_galleries_photos .min_content a {
  color: #E1473E !important;
  text-transform: lowercase !important;
}

.admin_stats_galleries_photos .sitelink {
  color: #E1473E !important;
}

.admin_stats_galleries_photos .weblink {
  color: #a1355b !important;
}


.admin_stats_galleries_photos .weblink a {
  color: #a1355b !important;
}

.admin_stats_galleries_photos .subheaders {
  font-weight: bold;
  text-transform: capitalize;
  color: #2A2C49 !important;
}

.admin_stats_galleries_photos .status_btn a {
  font-size: 10px;
  color: #fff !important;
  text-transform: uppercase;
  padding: 3px 15px;
  margin-left: 5px;
  border-radius: 2px;
  text-decoration: none !important;
  font-weight: 300;
}

.admin_stats_galleries_photos .approved a {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .approved a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .pending a {
  background-color: #E1473E !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .pending a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .delete_btn a {
  color: #2A2C49 !important;
  background-color: rgba(42, 44, 73, 0.2);
  font-size: 10px;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .delete_btn a:hover {
  background-color: #2A2C49 !important;
  color: #fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .addphotos a {
  color: #fff !important;
  background-color: #8ABFA1 !important;
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .addphotos a:hover {
  background-color: #2A2C49 !important;
  color: #fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .edit_btn a {
  color: #2A2C49 !important;
  background-color: rgba(42, 44, 73, 0.2);
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .edit_btn a:hover {
  background-color: #2A2C49 !important;
  color: #fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .update_section {
  background-color: rgba(42, 44, 73, 0.05);
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 5px;
}

.admin_stats_galleries_photos .update_section [type='submit'] {
  background-color: #2A2C49 !important;
  font-size: 10px;
  margin-bottom: 5px;
  color: #fff !important;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 2px;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .update_section [type='submit']:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.admin_stats_galleries_photos .update_section #event_approve {
  margin-bottom: 0px !important;
}

.admin_stats_galleries_photos .event_approve label {
  font-size: 12px;
  color: #2A2C49 !important;
}

.admin_stats_galleries_photos .closed a {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

















