/*===================================================
    Page: donate page
    File: views/shared/_content_donatepg.html.erb
  ===================================================*/

.content_donatepg_section {
  padding: 0px !important;
}

.content_donatepg_section .content_donatepg_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}
@media only screen and (max-width: 1160px) {
  .content_donatepg_section .content_donatepg_inner_section {
    width: 100% !important;
  }
}

.content_donatepg_section .donatepg_content {
  margin-bottom: 30px;
  padding: 0px !important;
}

.content_donatepg_section .tree_line {
  font-size: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1160px) {
  .content_donatepg_section .tree_line {
    margin-top: 25px;
    padding: 0px 15px !important;
  }
}

.content_donatepg_section .tree_line a {
  color: #2A2C49 !important;
}

.content_donatepg_section .current_page {
  color: #a07b35;
}

.content_donatepg_section .page_main_content {
  padding: 0px !important;
}

.content_donatepg_section .info_left_content {
  padding: 0px !important;
}
@media only screen and (max-width: 1160px) {
  .content_donatepg_section .info_left_content {
    width: 100% !important;
    padding: 0px 15px !important;
  }
}

.content_donatepg_section .info_left_content .page_header {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #2A2C49;
}

.content_donatepg_section .info_left_content .page_img {
  margin-bottom: 15px;
  opacity: 0.8;
  overflow: hidden;
}

.content_donatepg_section .info_left_content .paragraph_content {
  margin-bottom: 15px;
  color: #2A2C49;
}

.content_donatepg_section .info_left_content .paragraph_content .sub_header {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 3px;
}

.content_donatepg_section .info_left_content .paragraph_content ul {
  margin: 0px;
}

.content_donatepg_section .info_left_content .paragraph_content ul li {
  margin-bottom: 5px;
}

.content_donatepg_section .info_left_content .paragraph_content .weblink {
  color: #a1355b !important;
}

.content_donatepg_section .info_left_content .paragraph_content .weblink a {
  color: #a1355b !important;
}

.content_donatepg_section .info_right_content {
  padding: 0px !important;
  background-color: transparent;
}
@media only screen and (max-width: 1160px) {
  .content_donatepg_section .info_right_content {
    width: 100% !important;
    padding: 0px 15px !important;
  }
}

.content_donatepg_section .info_right_content .side_information {
  padding: 15px 30px 30px 60px;
  color: #2A2C49;
}
@media only screen and (max-width: 1160px) {
  .content_donatepg_section .info_right_content .side_information {
    padding: 30px 0px;
    border-top: 1px solid rgba(42, 44, 73, 0.03);
    margin-top: 15px;
  }
}

.content_donatepg_section .info_right_content .serv_title {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: bold;
}

.content_donatepg_section .info_right_content .serv_day {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: bold;
}

.content_donatepg_section .info_right_content .serv_info {
  margin-bottom: 25px;
}

.content_donatepg_section .info_right_content .page_button {
  background-color: #2A2C49;
  padding-bottom: 5px;
  border-radius: 6px;
  width: 170px;
}

.content_donatepg_section .info_right_content .page_button a {
  display: inline-block;
  background: linear-gradient(#57738E, #9DC6EB);
  color: #fff !important;
  padding: 15px 0px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 5px;
  width: 170px;
  text-align: center;
}

.content_donatepg_section .info_right_content .page_button a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_donatepg_section .info_right_content .page_button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_donatepg_section .info_right_content .weblink a {
  color: #a1355b !important;
}

.content_donatepg_section .listed_donation_links ul li {
  margin: 0px !important;
  list-style-type: none;
}

.content_donatepg_section .listed_donation_links ul li {
  margin-bottom: 5px !important;
}

.content_donatepg_section .listed_donation_links ul li a {
  background: linear-gradient(#57738E, #9DC6EB);
  color: #fff !important;
  height: 50px;
  display: inherit;
  padding: 17px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_donatepg_section .listed_donation_links ul li a:hover {
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_donatepg_section .pymt_img {
  margin: 30px 0px 10px;
}

.content_donatepg_section .pymt_img img {
  width: 200px;
}















