/*===================================================
    Page: homepage signout
    File: views/shared/_content_homepg_signedout.html.erb
  ===================================================*/

.content_homepg_signedout_section {
  padding: 0px !important;
}

.content_homepg_signedout_section .content_homepg_signedout_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}

.activecontent {
  background-color: rgba(42, 44, 73, 0.15) !important;
}

.content_homepg_signedout_section .homepage_content {
  margin-bottom: 30px;
  padding: 0px !important;
}

.content_homepg_signedout_section .left_content {
  background-color: transparent;
  padding: 0px !important
}

.content_homepg_signedout_section .left_content .main_section {
  background-color: transparent;
  padding: 0px !important;
}

.content_homepg_signedout_section .left_content .main_section ul {
  margin: 0px !important;
  list-style-type: none;
}

.content_homepg_signedout_section .left_content .main_section ul .li_main {
  float: left;
}

.content_homepg_signedout_section .left_content .li_main_left {
  width: 110px;
}

.content_homepg_signedout_section .left_content .title_content ul li {
  background-color: rgba(42, 44, 73, 0.1);
  width: 100%;
  display: inherit;
  font-size: 14px;
  padding: 19px 15px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_homepg_signedout_section .left_content .title_content ul li:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(42, 44, 73, 0.15) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.li_main_right {
  background-color: rgba(42, 44, 73, 0.15);
  width: 240px;
  padding: 15px;
  height: 296px;
}

.content_homepg_signedout_section .left_content .title_content_info ul li {
  font-size: 10px;
  overflow: scroll;
  position: relative;
  height: 265px;
}

.content_homepg_signedout_section .left_content #content1 {
  color: #a1355b; 
}

.content_homepg_signedout_section .left_content #content2 {
  color: #7fa135;
}

.content_homepg_signedout_section .left_content #content3 {
  color: #357fa1; 
}

.content_homepg_signedout_section .left_content #content4 {
  color: #a07b35; 
}



// -----------------------------
//     workings
// -----------------------------

.homepage_content .right_content {
  background-color: rgba(42, 44, 73, 0.15);
  padding: 0px !important
}

.inner_right_content div {
  height: 296px;
}
