/*===================================================
    Page: admin panel/stats users page
    File: views/users/shared/_content_admin_stats_users.html.erb
  ===================================================*/

.content_admin_sitelinks .page_cover {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 15px;
}

.content_admin_sitelinks .page_content {
  background-color: #fff;
  border: 1px solid #D4D4D4;
  border-bottom: 2px solid #D4D4D4;
  padding: 15px;
}

.content_admin_sitelinks .page_title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: #2A2C49;
  margin-bottom: 2px;
}

.content_admin_sitelinks .page_subtitle {
  font-size: 12px;
  margin-bottom: 5px;
  color: #2A2C49;
  text-transform: capitalize;
}

.content_admin_sitelinks .page_listedlinks ul {
  color: #2A2C49;
  margin: 10px 0px 0px 20px;
}

.content_admin_sitelinks .page_listedlinks li {
  color: #2A2C49;
  margin-bottom: 5px;
}

.content_admin_sitelinks .link_title {
  text-transform: capitalize;
}

.content_admin_sitelinks .main_link a {
  color: #E1473E !important;
  text-transform: capitalize;
}

.content_admin_sitelinks .new_content {
  margin-top: 30px;
}

.content_admin_sitelinks .upper_section {
  margin-bottom: 35px;
}

.content_admin_sitelinks .header_section_cover {
  background-color: rgba(42, 44, 73, 0.05);
  padding: 15px;
}

.content_admin_sitelinks .data_header {
  font-size: 22px;
  text-align: left;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  color: #2F3F5B;
}

.content_admin_sitelinks .header_subtitle {
  font-size: 10px;
  color: #2F3F5B;
}

.content_admin_sitelinks .btn {
  font-size: 12px;
  background-color: transparent;
  padding: 4px 0px;
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
  width: 120px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_admin_sitelinks .btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_admin_sitelinks .btn_green {
  background-color: #8ABFA1 !important;
}

.content_admin_sitelinks .btn_blue {
  background-color: #2A2C49 !important;
}

.content_admin_sitelinks .data_main_cover {
  padding: 0px !important;
}




// -----------------------------
//   workings
// -----------------------------


.data_stats {
  border: 1px solid #D4D4D4;
  background-color: #fff;
}

.data_title {
  padding: 5px;
  background-color: #2A2C49 !important;
  color: #fff;
}


.divider {
  border-bottom: 1px solid #D4D4D4;
  margin: 15px 0px;
} 


.listed_users ul {
  list-style-type: none;
  margin: 0px !important;
}


.listed_users ul .user_conatiner {
  float: left;
  padding: 0px;
  width: 200px;
  padding: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.listed_users ul .user_conatiner:last-child {
  float: left;
  margin-right: 0px !important;
}

.user_conatiner {
  border: 1px solid #D4D4D4;
  border-radius: 2px;

}

.user_image {
  padding: 0px !important;
}

.user_info {
  padding: 0px 0px 0px 8px !important;
}























