/*===================================================
    Page: footer
    File: views/shared/_footer.html.erb
  ===================================================*/

.footer_section {
  padding: 0 !important;
  background-color: red;
}

.footer_section .footer_inner_main_section {
  padding: 0px !important;
}


// ------------------------------
//   footer_content
// ------------------------------
.footer_section .footer_content {
  padding: 10px 15px;
  background-color: #20232C;
  color: #fff;
}

.footer_section .footer_inner_content {
  width: 1150px;
  margin: auto;
}

.left_content {
  padding: 0px !important;
  // background-color: green;
}

.right_content {
  padding: 0px !important;
  // background-color: red;
}

.footer_header {
  font-size: 35px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.footer_text a {
  font-weight: bold;
  font-size: 12px;
  color: #57738E !important;
}

.service_times_section {
  margin-top: 15px;
}

.service_times_section a {
  font-weight: bold;
  font-size: 12px;
  color: #57738E !important;
  text-transform: capitalize;
  margin-bottom: 2px;
  display: inline-block;
}

.day {
  text-transform: capitalize;;
  text-decoration: underline;
}






