/*===================================================
    Page: footer
    File: views/shared/_footer.html.erb
  ===================================================*/

.footer_section {
  padding: 0 !important;
  background-color: red;
  margin-bottom: 0px !important;
}

.footer_section .footer_inner_main_section {
  padding: 0px !important;
}

.footer_section .footer_content {
  padding: 10px 15px;
  background-color: #2A2C49;
  color: #fff;
}

@media only screen and (min-width: 1160px) {
  .footer_section .footer_inner_content {
    width: 1150px;
    margin: auto;
  }
}

.footer_section .left_content {
  padding: 0px !important;
}
@media only screen and (max-width: 1160px) {
  .footer_section .left_content {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer_section .right_content {
  padding: 0px !important;
}
@media only screen and (max-width: 1160px) {
  .footer_section .right_content {
    width: 100% !important;
    float: none;
  }
}

.footer_section .footer_header {
  font-size: 35px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.footer_section .footer_text {
  font-size: 12px;
}

.footer_section .footer_text a {
  font-weight: bold;
  font-size: 12px;
  color: #57738E !important;
}

.footer_section .rcc_logoimage_section {
  margin-top: 15px;
  background-color: transparent;
}
@media only screen and (min-width: 1160px) {
  .footer_section .rcc_logoimage_section {
    width: 415px;
  }
}

.footer_section .rcc_logoimage_section img {
  border-radius: 200px;
  width: 70px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_section .rcc_logoimage_section img:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_section .rcc_logoimage_section .text {
  width: 325px;
  margin-left: 5px;
  font-size: 11px;
  display: inline-block;
}

.footer_section .service_times_section {
  margin-top: 15px;
}

.footer_section .service_times_section {
  font-size: 12px;
}

.footer_section .service_times_section a {
  font-weight: bold;
  font-size: 12px;
  color: #57738E !important;
  text-transform: capitalize;
  margin-bottom: 2px;
  display: inline-block;
}

.footer_section .day {
  text-transform: capitalize;;
  text-decoration: underline;
}

.footer_section .social_media_section {
  margin-top: 25px;
}

.footer_section .social_media_section ul {
  margin: 0px !important;
  list-style-type: none;
}

.footer_section .social_media_section ul li {
  float: left;
  margin-right: 15px;
}

.footer_section .social_media_section ul li a {
  color: #fff !important;
  font-size: 30px;
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_section .social_media_section ul li a:hover {
  text-decoration: none !important;
  color: #57738E !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_section .site_links {
  margin: 15px 0px;
}

.footer_section .site_links ul {
  margin: 0px !important;
  list-style-type: none;
}

.footer_section .site_links ul li {
  float: left;
  margin-right: 10px;
}

.footer_section .site_links ul li a {
  color: #fff !important;
  font-size: 10px;
  text-transform: capitalize;
}

.footer_section .rights_section {
  margin-top: 15px;
}

.footer_section .mini_header {
  font-weight: bold;
  text-transform: capitalize;
}

.footer_section .lower_content {
  margin-top: 15px;
  font-size: 12px;
}

.footer_section .lower_content img {
  width: 200px;
}

@media only screen and (max-width: 1160px) {
  .footer_section .copyrights_content {
    text-align: center;
  }
}













