/*===================================================
    Page: header signedout nav
    File: views/shared/_header_signedout.html.erb
  ===================================================*/

.nav_section {
  padding: 0 !important;
  background-color: red;
}

.nav_inner_section {
  width: 1150px;
  margin: auto;
}

.upper_header_content {
  padding: 10px 15px;
  background-color: orange;
      // height: 50px;
}

.nav_list {
  float: right;
}

.nav_list ul {
  margin: 0px !important;
  list-style-type: none;
}

.nav_list ul li {
  font-size: 11px;
  word-spacing: 1px;
  letter-spacing: 1px;
  float: right;
  margin-left: 5px; 
  background-color: green;
  display: inline-block;
  padding: 5px 10px;
}

.nav_list ul li a {
  color: #fff !important;
}

.nav_list ul li span {
  color: #fff !important;
}

.date {
  color: #fff;
}












