/*===================================================
    Page: header signedout nav
    File: views/shared/_header_signedout.html.erb
  ===================================================*/

.nav_section {
  padding: 0 !important;
  background-color: transparent;
  margin-bottom: 60px;
}

.nav_section .nav_inner_main_section {
  padding: 0px !important;
  // background-color: rgba(225, 71, 62, 0.7) !important;
}

// ------------------------------
//   upper_header_content
// ------------------------------
.nav_section .upper_header_content {
  padding: 10px 15px;
  // background: linear-gradient(#57738E, #1dc6df);
  background: linear-gradient(#57738E, #9DC6EB);
}

.nav_section .header_inner_content {
  width: 1150px;
  margin: auto;
  position: relative;
}

.nav_section .nav_list_upper {
  float: right;
}

.nav_section .nav_list_upper ul {
  margin: 0px !important;
  list-style-type: none;
}

.nav_section .nav_list_upper ul li {
  font-size: 11px;
  word-spacing: 1px;
  letter-spacing: 1px;
  float: right;
  margin-left: 5px; 
  background-color: #2A2C49;
  display: inline-block;
  padding: 5px 10px;
}

.nav_section .nav_list_upper ul li a {
  color: #fff !important;
  text-transform: capitalize;
}

.nav_section .nav_list_upper ul li span {
  color: #fff !important;
}

.nav_section .date {
  color: #fff;
}



// ------------------------------
//   lower_header_content
// ------------------------------
.nav_section .lower_header_content {
  padding: 0px;
}

.nav_list_lower {
  float: right;
}

.nav_list_lower ul {
  margin: 0px !important;
  list-style-type: none;
}

.nav_section .nav_list_lower ul li {
  font-size: 14px;
  float: right;
  display: inline-block;
}

.nav_section .listed_contents {
  padding: 0px !important;
  background-color: transparent;
}

.nav_section .nav_list_lower ul li a {
  color: #2A2C49 !important;
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(42, 44, 73, 0.1);
  border-bottom: solid 2px transparent;
}

.nav_section .nav_list_lower ul li a:hover {
  background-color: rgba(157, 198, 235, 0.6);
  border-bottom: solid 2px #57738E;
  text-decoration: none;
}

.lower_header_content .img_container {
  background-color: transparent;
  height: 76px;
  position: absolute;
  width: 201px;
  margin-top: 15px;
}

.lower_header_content .img_container img {
  width: 200px;
  position: absolute;
}














