/*===================================================
    Page: partial no listed content
    File: views/events/_no_listed_content.html.erb
  ===================================================*/

.eventindex_section {
  padding: 0px !important;
}