/*===================================================
    Page: photo show page
    File: views/photos/_show.html.erb
  ===================================================*/

.photoshow_section {
  padding: 0px !important;
  margin-bottom: 100px;
}

.photoshow_section .photoshow_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}
@media only screen and (max-width: 1160px) {
  .photoshow_section .photoshow_inner_section {
    width: 100% !important;
  }
}

.photoshow_section .galleryshow_content {
  margin-bottom: 30px;
  padding: 0px !important;
}

.photoshow_section .tree_line {
  font-size: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1160px) {
  .photoshow_section .tree_line {
    margin-top: 25px;
    padding: 0px 15px !important;
  }
}

.photoshow_section .tree_line a {
  color: #2A2C49 !important;
}

.photoshow_section .current_page {
  color: #a07b35;
}

.photoshow_section .page_main_content {
  padding: 0px !important;
}

.photoshow_section .info_left_content {
  padding: 0px !important;
}
@media only screen and (max-width: 1160px) {
  .photoshow_section .info_left_content {
    width: 100% !important;
    padding: 0px 15px !important;
  }
}

.photoshow_section .info_left_content .page_header {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #2A2C49;
  margin-bottom: 8px;
  line-height: 35px;
}

.photoshow_section .info_left_content .page_img {
  margin-bottom: 15px;
  opacity: 0.8;
  overflow: hidden;
}

.photoshow_section .info_left_content .paragraph_content {
  margin-bottom: 15px;
  color: #2A2C49;
}

.photoshow_section .info_left_content .paragraph_content .sub_header {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 3px;
}

.photoshow_section .info_left_content .paragraph_content .weblink {
  color: #a1355b !important;
}

.photoshow_section .info_left_content .paragraph_content .weblink a {
  color: #a1355b !important;
}

.photoshow_section .pymt_img {
  margin: 30px 0px 10px;
}

.photoshow_section .pymt_img img {
  width: 200px;
}

.photoshow_section .calendar-heading {
  margin: 15px 0px;
}

.photoshow_section .calendar-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 50px;
  display: inline-block;
}

.photoshow_section .gallery_section ul {
  margin: 0px;
  list-style-type: none;
}

.photoshow_section .gallery_section ul li a {
  margin: 0px;
  font-size: 9px !important;
  text-transform: capitalize;
  line-height: 14px !important;
  display: inline-block;
  color: #a1355b !important;
  background: #fff;
  padding: 5px;
}

.photoshow_section .photos_content .cover_section {
  margin: 0px !important;
  list-style-type: none;
}

@media only screen and (min-width: 1160px) {
  .photoshow_section .photos_content .cover_section .main_list {
    float: left;
  }
}

.photoshow_section .first_section {
  margin-right: 8px;
}

.photoshow_section .second_section {
  padding: 0px 7px;
  overflow: hidden;
}
@media only screen and (max-width: 1160px) {
  .photoshow_section .second_section {
    padding: 0px !important;
  }
}
@media only screen and (min-width: 1160px) {
  .photoshow_section .second_section {
    width: 125px;
    height: 424px;
  }
}

.photoshow_section .gallery_photos_inner_content ul {
  margin: 0px !important;
  list-style-type: none;
}

.photoshow_section .gallery_photos_inner_content ul li {
  float: left;
  margin-right: 10px;
}

.photoshow_section .gallery_photos_inner_content ul li:last-child {
  margin-right: 0px;
}

.photoshow_section .gallery_photo_outter_img {
  padding: 5px;
  border: 1px solid #E8E9EB;
  margin-bottom: 9px;
}

.photoshow_section .gallery_photo_img {
  height: 65px;
  width: 100px;
  overflow: hidden; 
}

.photoshow_section .gallery_photo_intial_outter_img {
  padding: 5px;
  border: 1px solid #E8E9EB;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1160px) {
  .photoshow_section .photo_intial_img img {
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.photoshow_section .view_all {
  display: inline-block;
  background-color: rgba(42, 44, 73, 0.05);
  color: #2A2C49 !important;
  height: 77px;
  width: 100%;
  text-align: center;
  padding: 27px 0px;
  border: 1px solid #E8E9EB;
  font-weight: bold;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 1160px) {
  .photoshow_section .view_all {
    height: 35px;
    padding: 7px 0px;
  }
}

.photoshow_section .view_all:hover {
  background-color: rgba(42, 44, 73, 0.1);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.photoshow_section .listgallery_divider {
  margin: 0px 5px;
}

.photoshow_section .view_link {
  color: #a1355b !important;
  cursor: pointer;
  outline: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.photoshow_section .view_link:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.photoshow_section .date_category {
  color: #2A2C49;
}

.photoshow_section .edit_btn {
  margin-right: 5px;
}

.photoshow_section .function_btn a {
  display: inline-block;
  text-align: center;
  margin-top: 5px !important;
  margin: 0px;
  font-size: 9px !important;
  text-transform: capitalize;
  line-height: 14px !important;
  display: inline-block;
  background: #fff;
  color: #2A2C49 !important;
  height: 23px;
  padding: 5px 15px !important;
  background-color: #E8E9EB !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.photoshow_section .function_btn a:hover {
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.photoshow_section .listed_photos_container {
  background-color: transparent;
  border: 1px solid #E8E9EB;
  padding: 5px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1160px) {
  .photoshow_section .listed_photos_container {
    margin-right: 8px;
  }
}
@media only screen and (min-width: 1160px) {
  .photoshow_section .listed_photos_container {
    width: 1013px;
  }
}

.photoshow_section .listed_photos_container ul {
  margin: 0px;
  list-style-type: none;
  background-color: #E8E9EB;
  width: 300%;
  height: 70px;
  overflow: hidden;
}

.photoshow_section .listed_photos_container img {
  width: 107px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.photoshow_section .listed_photos_container img:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.photoshow_section .listed_photos_container ul li {
  float: left;
  margin-right: 5px;
}

.photoshow_section .listed_photos_inner_cover {
  overflow: hidden;
  overflow: scroll;
}
















