/*===================================================
    Page: responsive header
    File: views/shared/_responsive_header.html.erb
  ===================================================*/

.responsive_header_section {
  background-color: #2A2C49;
  color: #fff;
  padding: 15px;
}

.rep_inner_logo {
  background-color: transparent;
  width: 188px;
  text-align: center;
  margin: auto;
}

.rep_inner_logo img {
  width: 100px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rep_inner_logo a {
  color: #fff !important;
  text-decoration: none !important;
}

.rep_inner_logo a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rep_logo_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  margin-top: 5px;
}

.rep_button {
  text-align: center;
  font-size: 25px;
  padding: 10px 0px;
}

.rep_button a {
  color: #fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rep_button a:hover {
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rep_content {
  background-color: transparent;
}


.menu_items a {
  color: #fff !important;
  text-transform: capitalize;
  font-weight: bold;
}


.is-accordion-submenu-parent > a::after {
  border-color: #fff transparent transparent;
}


.menu.nested {
      background-color: rgba(32, 35, 44, 0.2);
}












