/*===================================================
    Page: login page
    File: views/registrations/_new.html.erb
  ===================================================*/

.content_sessionnew_section {
  padding: 0px !important;
}

.content_sessionnew_section .content_sessionnew_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}