/*===================================================
    Page: smallgroup show page
    File: views/smallgroups/_show.html.erb
  ===================================================*/

.smallgroupsshow_section {
  padding: 0px !important;
}

.smallgroupsshow_section .smallgroupsshow_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}
@media only screen and (max-width: 1160px) {
  .smallgroupsshow_section .smallgroupsshow_inner_section {
    width: 100% !important;
  }
}

.smallgroupsshow_section .smallgroupsshow_content {
  margin-bottom: 30px;
  padding: 0px !important;
}

.smallgroupsshow_section .tree_line {
  font-size: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1160px) {
  .smallgroupsshow_section .tree_line {
    margin-top: 25px;
    padding: 0px 15px !important;
  }
}

.smallgroupsshow_section .tree_line a {
  color: #2A2C49 !important;
}

.smallgroupsshow_section .current_page {
  color: #a07b35;
}

.smallgroupsshow_section .page_main_content {
  padding: 0px !important;
}

.smallgroupsshow_section .info_left_content {
  padding: 0px !important;
}
@media only screen and (max-width: 1160px) {
  .smallgroupsshow_section .info_left_content {
    width: 100% !important;
    padding: 0px 15px !important;
  }
}

.smallgroupsshow_section .info_left_content .page_header {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #2A2C49;
  margin-bottom: 8px;
  line-height: 35px;
}

.smallgroupsshow_section .info_left_content .page_img {
  margin-bottom: 15px;
  opacity: 0.8;
  overflow: hidden;
}

.smallgroupsshow_section .info_left_content .paragraph_content {
  margin-bottom: 15px;
  color: #2A2C49;
}

.smallgroupsshow_section .info_left_content .paragraph_content .sub_header {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 3px;
}

.smallgroupsshow_section .info_left_content .paragraph_content .weblink {
  color: #a1355b !important;
}

.smallgroupsshow_section .info_left_content .paragraph_content .weblink a {
  color: #a1355b !important;
}

.smallgroupsshow_section .pymt_img {
  margin: 30px 0px 10px;
}

.smallgroupsshow_section .pymt_img img {
  width: 200px;
}

.smallgroupsshow_section .calendar-heading {
  margin: 15px 0px;
}

.smallgroupsshow_section .calendar-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 50px;
  display: inline-block;
}

.smallgroupsshow_section .gallery_section ul {
  margin: 0px;
  list-style-type: none;
}

.smallgroupsshow_section .gallery_section ul li a {
  margin: 0px;
  font-size: 9px !important;
  text-transform: capitalize;
  line-height: 14px !important;
  display: inline-block;
  color: #a1355b !important;
  background: #fff;
  padding: 5px;
}

.smallgroupsshow_section .member_content .cover_section {
  margin: 0px !important;
  list-style-type: none;
}

.smallgroupsshow_section .member_content .cover_section .main_list {
  float: left;
}

.smallgroupsshow_section .first_section {
  margin-right: 8px;
}

.smallgroupsshow_section .second_section {
  width: 125px;
  padding: 0px 7px;
  height: 424px;
  overflow: hidden;
}

.smallgroupsshow_section .gallery_photos_inner_content ul {
  margin: 0px !important;
  list-style-type: none;
}

.smallgroupsshow_section .gallery_photos_inner_content ul li {
  float: left;
  margin-right: 10px;
}

.smallgroupsshow_section .gallery_photos_inner_content ul li:last-child {
  margin-right: 0px;
}

.smallgroupsshow_section .gallery_photo_outter_img {
  padding: 5px;
  border: 1px solid #E8E9EB;
  margin-bottom: 9px;
}

.smallgroupsshow_section .gallery_photo_img {
  height: 65px;
  width: 100px;
  overflow: hidden; 
}

.smallgroupsshow_section .gallery_photo_intial_outter_img {
  padding: 5px;
  border: 1px solid #E8E9EB;
  margin-bottom: 10px;
}

.smallgroupsshow_section .gallery_photo_intial_img {
  width: 620px;
  height: 409px;
  overflow: hidden;
}

.smallgroupsshow_section .view_all {
  display: inline-block;
  background-color: rgba(42, 44, 73, 0.05);
  color: #2A2C49 !important;
  height: 77px;
  width: 100%;
  text-align: center;
  padding: 27px 0px;
  border: 1px solid #E8E9EB;
  font-weight: bold;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.smallgroupsshow_section .view_all:hover {
  background-color: rgba(42, 44, 73, 0.1);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.smallgroupsshow_section .listpage_divider {
  margin: 0px 5px;
}

.smallgroupsshow_section .action_btn {
  margin-top: 5px;
}

.smallgroupsshow_section .action_btn a {
  margin: 0px;
  font-size: 10px !important;
  text-transform: capitalize;
  line-height: 14px !important;
  display: inline-block;
  background: #fff;
  color: #2A2C49 !important;
  height: 23px;
  padding: 5px 15px !important;
  background-color: #E8E9EB !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.smallgroupsshow_section .action_btn a:hover {
  background-color: #2A2C49 !important;
  color: #fff !important;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.smallgroupsshow_section .member_content {
  border-top: 1px solid rgba(42, 44, 73, 0.05);
}

.smallgroupsshow_section .member_header {
  font-size: 11px !important;
  color: #2A2C49;
  margin: 15px 0px 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.smallgroupsshow_section .page_information {
  padding: 0px !important;
}
@media only screen and (max-width: 1160px) {
  .smallgroupsshow_section .page_information {
    width: 100% !important;
  }
}

.smallgroupsshow_section .member_container ul {
  margin: 0px;
  list-style-type: none;
}

.smallgroupsshow_section .member_container ul li {
  border: 1px solid rgba(42, 44, 73, 0.05);
  margin-bottom: 15px;
  width: 80px;
  padding: 12px 5px 5px;
  float: left;
  margin-right: 15px;
}

.smallgroupsshow_section .member_container ul li img {
  width: 50px;
}

.smallgroupsshow_section .minor_section {
  text-align: center;
}

.smallgroupsshow_section .username a {
  font-size: 11px;
  color: #a1355b !important;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
}

.smallgroupsshow_section .non_member_join {
  color: #2A2C49 !important;
  font-size: 11px !important;
  margin-bottom: 20px;
}

.smallgroupsshow_section .non_member_join a {
  color: #a1355b !important;
}

.smallgroupsshow_section .view_link {
  color: #a1355b !important;
  cursor: pointer;
  outline: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.smallgroupsshow_section .view_link:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.smallgroupsshow_section .date_category {
  margin-bottom: 10px;
  color: #2A2C49;
}















