/*===================================================
    Page: users dashboard page
    File: views/users/shared/_dashboard.html.erb
  ===================================================*/

.users_dashboard_section {
  padding: 0px !important;
  border-top: 1px solid #2A2C49;
}

.users_dashboard_section .users_dashboard_inner_section {
  width: 1150px;
  margin: auto;
  background-color: rgba(42, 44, 73, 0.1);
  margin-bottom: 30px;
}
@media only screen and (max-width: 1160px) {
  .users_dashboard_section .users_dashboard_inner_section {
    width: 100% !important;
  }
}


// ------------------------------
//   workings
// ------------------------------

.users_dashboard_section .main_container {
  padding: 0px !important;
}

.users_dashboard_section .left_admin_content {
  background-color: #2A2C49;
  padding: 0px !important;
}

.users_dashboard_section .right_admin_content {
  background-color: green;
  padding: 0px !important;
}

// ------------------------------
//   workings
// ------------------------------

.left_admin_content ul {
  margin: 0px !important;
  list-style-type: none;
}

.left_admin_content li {
  height: 60px;
  border-bottom: 1px solid #57738E;
}

.left_admin_content a {
  color: #fff !important;
  display: inherit;
  padding: 21px 28px;
  text-transform: capitalize;
  height: 60px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.left_admin_content a:hover {
  text-decoration: none;
  opacity: 0.4 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}




